.showList {
  display: flex;
  width: 550px;
  min-height: 55px;
  background-color: white;
  align-items: center;
  border-bottom: 0.2px solid #838383;
  word-wrap: break-word;
  overflow: visible;
  color: #4D4D4D;
}

 .toggleCheck {
  width: 8%;
  text-align: center;
  margin-right: 7px;
}

.showElement {
  visibility: visible;
}

.hideElement {
  visibility: hidden;
}

.item {
  display: flex;
  align-items: center;
  width: 90%;
  align-self: stretch;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0px 0px 0px 5px;
  margin: 5px;
}

.item:hover{
  cursor: pointer;
}

.deleteButton {
  color: #CC9A9A;
  float: right;
  background: none;
  border: none;
  font-size: 1em;
  height: 100%;
  padding: 0 20px;
}

.deleteButton:hover{
  cursor: pointer;
}

.completedTask{
  color: gray;
  text-decoration: line-through;
}


.checkboxRound {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkboxRound:checked {
  background-color: gray;
}