.inputContainer {
  width: 550px;
  height: 60px;
  border-bottom: 2px solid gray;
  background-color: white;
  display: flex;
}

.inputField {
  flex: auto;
  font-size: larger;
  padding: 0 5px;
  font-size: 1.5em;
  border: none;
  margin-left: 10px;
  color: #4D4D4D;
}

.inputField:focus {
  outline: none;
}

.selectToggle {
  width: 8%;
  display: grid;
  place-content: center;
  transform: matrix(0,1,-1,0,0,0);
  color: #737373 ;
  font-size: 1.3em;
  user-select: none;
}

.toggleColor{
  color: #e6e6e6;
}

.selectToggle:hover {
  cursor: pointer;
}

.showElement {
  visibility: visible;
}

.hideElement {
  visibility: hidden;
}

::placeholder{
  color:  #777777;;
  font-style: italic;
  font-weight: lighter;
  font-size: large;
}
